In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

###### Activites attempted 
- Reading data,
- looking for missing values,
- replacing missing values with most frequent approach,
- compairing the graphs w.r.t. gender,
- exploring the numerical data like age

#### Importing the dataset

In [2]:
dataset = pd.read_csv('hepatitis_csv.csv')

##### Reading the data

In [3]:
dataset.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live

In [4]:
dataset.describe()# stats for numerical column

,age,bilirubin,alk_phosphate,sgot,albumin,protime
count,155.000000,149.000000,126.000000,151.00000,139.000000,88.000000
mean,41.200000,1.427517,105.325397,85.89404,3.817266,61.852273
std,12.565878,1.212149,51.508109,89.65089,0.651523,22.875244
min,7.000000,0.300000,26.000000,14.00000,2.100000,0.000000
25%,32.000000,0.700000,74.250000,31.50000,3.400000,46.000000
50%,39.000000,1.000000,85.000000,58.00000,4.000000,61.000000
75%,50.000000,1.500000,132.250000,100.50000,4.200000,76.250000
max,78.000000,8.000000,295.000000,648.00000,6.400000,100.000000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
age                155 non-null int64
sex                155 non-null object
steroid            154 non-null object
antivirals         155 non-null bool
fatigue            154 non-null object
malaise            154 non-null object
anorexia           154 non-null object
liver_big          145 non-null object
liver_firm         144 non-null object
spleen_palpable    150 non-null object
spiders            150 non-null object
ascites            150 non-null object
varices            150 non-null object
bilirubin          149 non-null float64
alk_phosphate      126 non-null float64
sgot               151 non-null float64
albumin            139 non-null float64
protime            88 non-null float64
histology          155 non-null bool
class              155 non-null object
dtypes: bool(2), float64(5), int64(1), object(12)
memory usage: 22.2+ KB

In [6]:
#The above data shows that there is null or missing values

In [7]:
dataset.isnull().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

#### Missing values

In [8]:
dataset['steroid'].value_counts()

True     78
False    76
Name: steroid, dtype: int64

In [9]:
dataset["steroid"].fillna(True, inplace = True)

In [10]:
dataset['fatigue'].value_counts()

True     100
False     54
Name: fatigue, dtype: int64

In [11]:
dataset["fatigue"].fillna(True, inplace = True)

In [12]:
dataset['anorexia'].value_counts()

False    122
True      32
Name: anorexia, dtype: int64

In [13]:
dataset["anorexia"].fillna(False, inplace = True)

In [14]:
dataset['malaise'].value_counts()

False    93
True     61
Name: malaise, dtype: int64

In [15]:
dataset["malaise"].fillna(False, inplace = True)

In [16]:
spleen_palpable    150 non-null object
spiders            150 non-null object
ascites            150 non-null object
varices            150 non-null object
bilirubin          149 non-null float64
alk_phosphate      126 non-null float64
sgot               151 non-null float64
albumin            139 non-null float64
protime            88 non-null float64

SyntaxError: invalid syntax (<ipython-input-16-6c2c2fe9553c>, line 1)

In [ ]:
dataset['spleen_palpable'].value_counts()

In [ ]:
dataset['liver_big'].value_counts()

In [ ]:
dataset["liver_big"].fillna(True, inplace = True)

In [ ]:
dataset['liver_firm'].value_counts()

In [ ]:
dataset["liver_firm"].fillna(False, inplace = True)

In [ ]:
dataset["spleen_palpable"].fillna(False, inplace = True)

In [ ]:
dataset['ascites'].value_counts()

In [ ]:
dataset["ascites"].fillna(False, inplace = True)

In [ ]:
dataset['varices'].value_counts()

In [ ]:
dataset['spiders'].value_counts()

In [ ]:
dataset["spiders"].fillna(False, inplace = True)

In [ ]:
dataset["varices"].fillna(False, inplace = True)

In [ ]:
dataset['alk_phosphate'].mean()

In [ ]:
dataset['alk_phosphate'].fillna(105, inplace = True)

In [ ]:
dataset['bilirubin'].mean()

In [ ]:
dataset['bilirubin'].fillna(1.42, inplace = True)

In [ ]:
dataset['sgot'].mean()

In [ ]:
dataset['sgot'].fillna(85.89, inplace = True)

In [ ]:
dataset['albumin'].mean()

In [ ]:
dataset['albumin'].fillna(85.89, inplace = True)

In [ ]:
dataset['protime'].mean()

In [ ]:
dataset['protime'].fillna(85.89, inplace = True)

##### Exploring the data w.r.t to male and felame gender

In [ ]:
sns.countplot(x = dataset['sex'], hue = dataset['anorexia'])

In [ ]:
sns.countplot(x = dataset['sex'], hue = dataset['antivirals'])

In [ ]:
sns.countplot(x = dataset['sex'], hue = dataset['steroid'])

In [ ]:
sns.countplot(x = dataset['sex'], hue = dataset['fatigue'])

In [ ]:
sns.countplot(x = dataset['sex'], hue = dataset['class'])

######  The purpose of compairing the above data was to see despite the females having more od the health related problems like anorexia and antivirals the women survived more and no males members died

In [ ]:
sns.distplot(dataset['bilirubin'])

In [ ]:
sns.distplot(dataset['alk_phosphate'])

In [ ]:
sns.distplot(dataset['age'], color = 'red') # most of the people are in the range 20 to 70